html, body, h1, h2, h3, h4, h5
{
	font-family: "Comic Sans MS"; /* That's Right */
}

#menu-bar
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	padding: 3px;
	background-color: gray;
}

#container
{
	margin-top: 40px;
	width: 100%;
}

#content1, #content2
{
	width: 1024px;
	margin: auto;
}

#leftdiv, #rightdiv
{
	width: 50%;
	padding: 8px;
}

#leftdiv
{
	float: left;

	border-width: 0px;
	border-style: solid;
	border-right: 1px solid black;
	/*border: 1px;*/
	border-right-width: 1px;

	min-height: 500px;
}
#rightdiv
{
	float: right;
}


#title
{
	text-align: center;
}

#create-button
{
	display: block;
	height: 70px;
	width: 170px;
	margin: auto;
}

#group-desc
{
	height: 60px;
	/*line-height: 4em;*/
}

input[type=text]
{
	margin: 2px;
	width: 300px;
}

.input_test
{
	/*float: right;*/
	position: absolute;
	left: 200px;
}

.center
{
	text-align: center;
	margin: auto;
}

.indent
{
	margin-left: 30px;
}

.italic { font-style: italic; }
.bold { font-weight: bold; }

.comicsans { font-family: "Comic Sans MS"; }
